<div class=" outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-full my-6 mx-auto">
        <div class="border-0 shadow-lg relative flex flex-col w-full  outline-none focus:outline-none">
            <div class="grid place-items-center items-center p-[4rem] w-full">
                <!-- <div class="flex justify-end w-full">
                    <span class="cursor-pointer"><img class="h-[20px]" src="/assets/images/x.png" alt=""></span>
                </div> -->

                <div class="w-full grid gap-[1rem] mt-[2rem] items-center place-items-center">

                    <div class="bg-[#fff] w-full flex justify-center">
                        <div class="w-full">
                            <div class=" flex justify-center">
                                <div class="border w-full ">

                                    <div class="bg-[#7535FD] flex justify-between items-center px-[4rem] py-[2rem]">
                                        <div>
                                            <p class="text-[#fff] font-[NUNITO] text-[30px]">Tonia</p>
                                            <div class=" flex items-center w-[100px]">
                                                <img src="/assets/images/LOGO 1.png" alt="">
                                            </div>
                                        </div>
                                        <div class="flex flex-col justify-between  h-[15rem] items-center">
                                            <p class="text-[#fff] font-[NUNITO] text-[40px]">{{transaction.status}}</p>
                                            <p class="text-[#fff]">Transaction Details</p>

                                        </div>

                                    </div>

                                    <div class="bg-[#fff] p-[4rem] grid gap-[2rem]">

                                        <div class="grid grid-cols-2 gap-[4rem]">
                                            <div class="bg-[#F1EEFD] flex justify-between items-center p-[1rem]">
                                                <p >Merchant Name</p>
                                                <p>Tonia</p>
                                            </div>

                                            <div class="bg-[#F1EEFD] flex justify-between items-center p-[1rem]">
                                                <p>Card Scheme</p>
                                                <p>Tonia</p>
                                            </div>


                                            <div class="bg-[#F1EEFD] flex justify-between items-center p-[1rem]">
                                                <p>Masked Pan</p>
                                                <p>Tonia</p>
                                            </div>


                                            <div class="bg-[#F1EEFD] flex justify-between items-center p-[1rem]">
                                                <p>Status</p>
                                                <p>Tonia</p>
                                            </div>

                                            <div class="bg-[rgb(241,238,253)] flex justify-between items-center p-[1rem]">
                                                <p>Card Expiry</p>
                                                <p>Tonia</p>
                                            </div>

                                            <div class="bg-[#F1EEFD] flex justify-between items-center p-[1rem]">
                                                <p>Response Code</p>
                                                <p>Tonia</p>
                                            </div>
                                            <div class="bg-[#F1EEFD] flex justify-between items-center p-[1rem]">
                                                <p>Account Type</p>
                                                <p>Tonia</p>
                                            </div>
                                            <div class="bg-[#F1EEFD] flex justify-between items-center p-[1rem]">
                                                <p>Response Message</p>
                                                <p>Tonia</p>
                                            </div>
                                            <div class="bg-[#F1EEFD] flex justify-between items-center p-[1rem]">
                                                <p>Transaction Type</p>
                                                <p>Tonia</p>
                                            </div>
                                            <div class="bg-[#F1EEFD] flex justify-between items-center p-[1rem]">
                                                <p>PTSP</p>
                                                <p>Tonia</p>
                                            </div>

                                            <div class="bg-[#F1EEFD] flex justify-between items-center p-[1rem]">
                                                <p>RRN</p>
                                                <p>Tonia</p>
                                            </div>

                                            <div class="bg-[#F1EEFD] flex justify-between items-center p-[1rem]">
                                                <p>Terminal ID</p>
                                                <p>Tonia</p>
                                            </div>

                                            <div class="bg-[#F1EEFD] flex justify-between items-center p-[1rem]">
                                                <p>Stan</p>
                                                <p>Tonia</p>
                                            </div>

                                            <div class="bg-[#F1EEFD] flex justify-between items-center p-[1rem]">
                                                <p>Terminal Serial Number</p>
                                                <p>Tonia</p>
                                            </div>
                                            <div class="bg-[#F1EEFD] flex justify-between items-center p-[1rem]">
                                                <p>Amount</p>
                                                <p>{{transaction.amount}}</p>
                                            </div>

                                            <div class="bg-[#F1EEFD] flex justify-between items-center p-[1rem]">
                                                <p>Terminal Type</p>
                                                <p>Tonia</p>
                                            </div>

                                            <div class="bg-[#F1EEFD] flex justify-between items-center p-[1rem]">
                                                <p>Charges</p>
                                                <p>Tonia</p>
                                            </div>

                                            <div class="bg-[#F1EEFD] flex justify-between items-center p-[1rem]">
                                                <p>Merchant Location</p>
                                                <p>Tonia</p>
                                            </div>
                                            <div class="bg-[#F1EEFD] flex justify-between items-center p-[1rem]">
                                                <p>Date</p>
                                                <p>{{transaction.createdAt}}</p>
                                            </div>
                                            <div class="bg-[#F1EEFD] flex justify-between items-center p-[1rem]">
                                                <p>Payment Method</p>
                                                <p>{{transaction.paymentMethod}}</p>
                                            </div>
                                            
                                            
                                            
                                            
                                            

                                        </div>
                             








                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="flex items-center justify-end p-6 rounded-b">
            </div>
        </div>
    </div>
</div>