<div>

    <div
    class="dashbord_items gap-[1rem] grid md:grid-cols-4 grid-cols-1 justify-between my-0 bg-[#fff] rounded-[8px] p-[30px] mb-[20px]">
    <div
        class="col-span-1 flex md:justify-center p-[2rem] items-center  md:border-r border-b md:border-b-0">
        <div class="mr-[8px] flex justify-center items-center bg-[#CEE0F3] rounded-[16px] p-[2rem]">
            <img src="/assets/images/Paper.png" />
        </div>

        <div class="mr-[35px] font-[700] text-[16px] leading-[24px] text-[#92959E]">

            <div class="mr-[35px] font-[700] text-[16px] leading-[24px] text-[#92959E]">
                <p>Terminals</p>
            </div>
            <div class="text-[20px] leading-[30px] text-[#15192C]">
                <p>3</p>
            </div>
        </div>
    </div>

    <div
        class="col-span-1 flex md:justify-center p-[2rem] items-center  md:border-r border-b md:border-b-0">


        <div class="mr-[8px] flex justify-center items-center bg-[#CEE0F3] rounded-[16px] p-[2rem]">
            <img src="/assets/images/Swap.png" />
        </div>
        <div class="mr-[35px] font-[700] text-[16px] leading-[24px] text-[#92959E]">
            <div class="">
                <p>Active</p>
            </div>
            <div class="text-[20px] leading-[30px] text-[#15192C]">
                <p>2</p>
            </div>
        </div>
    </div>

    <div
        class="col-span-1 flex md:justify-center p-[2rem] items-center  md:border-r border-b md:border-b-0">

        <div class="mr-[8px] flex justify-center items-center bg-[#CEE0F3] rounded-[16px] p-[2rem]">
            <img src="/assets/images/Profile.png" />
        </div>
        <div class="mr-[35px] font-[700] text-[16px] leading-[24px] text-[#92959E]">


            <div class="">
                <p>Users</p>
            </div>
            <div class="text-[20px] leading-[30px] text-[#15192C]">
                <p>2</p>
            </div>
        </div>
    </div>
    <div class="col-span-1 flex md:justify-center p-[2rem] items-center">
        <div class="mr-[8px] flex justify-center items-center bg-[#CEE0F3] rounded-[16px] p-[2rem]">
            <img src="/assets/images/Graph.png" />
        </div>
        <div class="mr-[35px] font-[700] text-[16px] leading-[24px] text-[#92959E]">

            <div class="">
                <p>Balance</p>
            </div>
            <div class="text-[20px] leading-[30px] text-[#15192C]">
                <p class="whitespace-nowrap">N 549, 600.00</p>
            </div>
        </div>
    </div>
</div>


</div>