
<div class="h-[100vh] flex justify-center items-center bg-no-repeat bg-cover bg-[url('/assets/images/Background.png')]">
    <div class="grid bg-white relative rounded-[32px] p-[1rem]">
        <div class="py-[1rem] p-[1rem] md:px-[2rem] w-full flex justify-center">
            <div class="flex justify-between flex-col items-center">
                <div class="m-auto">
                    <!-- <div class="w-[40%] py-[2rem]"><img src="assets/images/LOGO2.png" alt=""></div>
                     -->
                    <div class="font-[DM Sans] font-[700] text-[24px] text-[#2B3674] leading-[40px] text-center">Reset Password</div>
                    <p class="text-[16px] font-[DM Sans] text-[#A3AED0] mx-0 mt-[10px] mb-[90px] leading-[35px] text-center">Recover your account password</p>

                    <form class="text-[#2B3674]" [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">

                    <div class="w-full"
                        [ngClass]="{'has-error': !formData['email'].valid && formData['email'].touched}">
                        <label class="leading-10" for="fname">Email*</label>
                        <div class="border-none " *ngIf="formData['email'].touched && formData['email'].errors">
                            <div class="shadow-none border-none  text-[red]"
                                *ngIf="formData['email'].errors['required']">
                                The Email is required
                            </div>
                            <div class="shadow-none text-[red]" *ngIf="formData['email'].errors['pattern']">
                                The Email is not valid
                            </div>
                        </div>
                        <div class="rounded-[32px] border px-[0.5rem] py-[0.6rem] flex justify-between mb-[10px]">
                            <input class=" border-none shadow-none outline-none w-[25rem] p-[0.5rem]" type="text"
                                placeholder="mail@simmmple.com" name="email" formControlName="email">
                        </div>
                    </div>
                        <button type="submit"
                            class="w-full gap-2.5 text-white mx-0 my-4 pl-2 pr-[8px,] py-[10px,] p-[1.2rem] rounded-[32px] border-[none] bg-[#7b57fc]">Next</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>




<div *ngIf="showModal"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-full my-6 mx-auto max-w-xl">
        <!--content-->
        <div
            class="border-0 rounded-[32px] shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <div class="grid place-items-center items-center p-[1rem] w-full">
                <div class="flex justify-end w-full ">
                    <span class="cursor-pointer" (click)="toggleModal()"><img src="/assets/images/x.png" alt=""></span>
                </div>
                <div class="py-[2rem] grid gap-[1rem]">
                    <div class="text-center text-[24px] font-[600] leading-[30px]">Verifying your account</div>
                    <div class="text-center leading-[24px]">
                        We have just sent you 4 digit code via your <br>
                         email <span class="text-[#7535FD]"> example@gmail.com</span> 
                    </div>
                </div>
                <div class="grid gap-[1rem] items-center place-items-center w-[70%]">
                    <ngx-otp-input class="mx-[2rem]" [config]="otpInputConfig" (otpChange)="handeOtpChange($event)"
                        (fill)="handleFillEvent($event)">
                    </ngx-otp-input>
                    <button type="submit"
                    class="w-full gap-2.5 text-white mx-0 my-4 pl-2 pr-[8px,] py-[10px,] p-[1.2rem] rounded-[32px] border-[none] bg-[#7b57fc]">Sign
                    In</button>
                </div>

            </div>
            <div class="flex items-center justify-end p-6 rounded-b">
            </div>
        </div>
    </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>

<ng-toast></ng-toast>

