<div class="bg-[#F5F4F7] h-fit md:p-[2rem] p-[2rem]">
    <div class="flex justify-between items-center mb-[5rem]">
        <div class="flex justify-between items-center w-[100%]">
            <div class="">
                <h2 class="text-[#15192C] font-[600] text-[27px] leading-[33px]">Analysis Overview</h2>
            </div>
            <div class="flex justify-center gap-2 items-center bg-[#fff] p-[1rem] rounded-[8px]">
                <div class="flex justify-center h-[20px]">
                    <img class="h-[100%]" src="/assets/images/download.png" alt="">
                </div>
                <span class="text-[#7B57FC]">
                    Export
                </span>
            </div>
        </div>
    </div>

    <div class="grid md:grid-cols-4 grid-cols-1 gap-[1rem]">
        <div class="flex justify-between bg-[#fff] rounded-[8px] p-[1rem] gap-[2rem]">
            <div>
                <div class="text-[grey] text-[16px] leading-[24px]">Users</div>
                <div class="flex items-center gap-[0.3rem]">
                    <span class="text-[20px] font-[500] leading-[32px]">21,459</span> <span
                        class="text-[grey] leading-[21px]">(+29%)</span>

                </div>
                <div class="text-[grey]">Total Users</div>
            </div>
            <div>
                <div class="bg-[#edeaf7] p-[0.5rem] rounded-[6px]">
                    <img src="/assets/images/Icon.png" alt="">
                </div>

            </div>
        </div>

        <div class="flex justify-between bg-[#fff] rounded-[8px] p-[1rem] gap-[2rem]">
            <div>
                <div class="text-[grey] text-[16px] leading-[24px]">Users</div>
                <div class="flex items-center gap-[0.3rem]">
                    <span class="text-[20px] font-[500] leading-[32px]">21,459</span> <span
                        class="text-[grey] leading-[21px]">(+29%)</span>

                </div>
                <div class="text-[grey]">Total Users</div>
            </div>
            <div>
                <div class="bg-[#edeaf7] p-[0.5rem] rounded-[6px]">
                    <img src="/assets/images/Icon.png" alt="">
                </div>

            </div>
        </div>

        <div class="flex justify-between bg-[#fff] rounded-[8px] p-[1rem] gap-[2rem]">
            <div>
                <div class="text-[grey] text-[16px] leading-[24px]">Users</div>
                <div class="flex items-center gap-[0.3rem]">
                    <span class="text-[20px] font-[500] leading-[32px]">21,459</span> <span
                        class="text-[grey] leading-[21px]">(+29%)</span>

                </div>
                <div class="text-[grey]">Total Users</div>
            </div>
            <div>
                <div class="bg-[#edeaf7] p-[0.5rem] rounded-[6px]">
                    <img src="/assets/images/Icon.png" alt="">
                </div>

            </div>
        </div>

        <div class="flex justify-between bg-[#fff] rounded-[8px] p-[1rem] gap-[2rem]">
            <div>
                <div class="text-[grey] text-[16px] leading-[24px]">Users</div>
                <div class="flex items-center gap-[0.3rem]">
                    <span class="text-[20px] font-[500] leading-[32px]">21,459</span> <span
                        class="text-[grey] leading-[21px]">(+29%)</span>

                </div>
                <div class="text-[grey]">Total Users</div>
            </div>
            <div>
                <div class="bg-[#edeaf7] p-[0.5rem] rounded-[6px]">
                    <img src="/assets/images/Icon.png" alt="">
                </div>

            </div>
        </div>
    </div>

    <div class="bg-[#fff]">
        <div class="flex items-center justify-between pb-0  mt-[2rem] p-[1rem]">
            <div class="w-[100%] grid gap-[2rem]  pt-[2rem] ">

                <div class="w-[100%]  items-center">
                    <div class="w-[100%] grid md:grid-cols-3 grid-cols-1 gap-[1rem]">
                        <div class="md:col-span-1 col-span-1 p-[1rem] py-[0.5rem] border bg-[#fff] rounded-[8px]">
                            <select id="countries"
                                class=" outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option selected>
                                    <div><img src="/assets/images/flag.png" alt=""></div>
                                    <span>Date Range</span>
                                </option>
                                <option value="US">Success</option>
                                <option value="CA">Failure</option>
                                <option value="FR">Pending</option>
                            </select>
                        </div>
                        <div class="md:col-span-1 col-span-1 p-[1rem] py-[0.5rem] border bg-[#fff] rounded-[8px]">
                            <select id="countries"
                                class="outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option selected>Paystack</option>
                                <option value="US">Remiter</option>
                                <option value="CA">Interswitch</option>
                                <option value="FR">Flutterwave</option>
                            </select>
                        </div>
                        <div class="md:col-span-1 col-span-1 p-[1rem] py-[0.5rem] border bg-[#fff] rounded-[8px]">
                            <select id="countries"
                                class="outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option selected>Status</option>
                                <option value="US">All</option>
                                <option value="CA">Succeded</option>
                                <option value="FR">Refunded</option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="flex justify-between border-t-2 py-[1rem] ">
                    <div class="flex justify-center gap-2 items-center border bg-[#fff] p-[1rem] rounded-[8px]">
                        <div class="flex justify-center h-[20px]">
                            <img class="h-[100%]" src="/assets/images/download.png" alt="">
                        </div>
                        <span class="text-[#7B57FC]">
                            Export
                        </span>
                    </div>
                    <div class="flex items-center gap-[1rem] w-[40%]">
                        <div
                            class="bg-[#FBFBFB] border rounded-[8px] gap-[1rem] flex p-[1rem] py-[0.5rem] w-[80%] md:mt-[0] mt-[1rem]">
                            <div class="flex justify-center items-center">
                                <img src="/assets/images/inputSearch.png" alt="">
                            </div>
                            <input type="text" id="table-search"
                                class="block p-2 w-[90%] bg-[#FBFBFB] text-gray-900 outline-none  rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Search by amount , payment method...">
                        </div>
                        <div class="bg-[#7535fd] border text-[#fff] p-[0.8rem] rounded-[8px] whitespace-nowrap">
                            Add User
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Table =============== -->
        <div class="relative overflow-x-auto sm:rounded-lg ">

            <table class="w-full text-[14px] leading-[150%]  text-[#4B5563] text-left dark:text-gray-400">
                <thead
                    class="text-[14px] italic font-[100]  text-[#374151] uppercase bg-[#fff]  dark:bg-gray-700 dark:text-gray-400">
                    <tr class="border-b">
                        <th scope="col" class="p-[2rem]">
                            <div class="flex items-center">
                                <input id="checkbox-all-search" type="checkbox"
                                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="checkbox-all-search" class="sr-only">Payment ID</label>
                            </div>
                        </th>
                        <th scope="col" class="p-[2rem]">
                            User
                        </th>
                        <th scope="col" class="p-[2rem]">
                            Role
                        </th>
                        <th scope="col" class="p-[2rem]">
                            Plan
                        </th>
                        <th scope="col" class="p-[2rem]">
                            Billing
                        </th>
                        <th scope="col" class="p-[2rem]">
                            Status
                        </th>
                        <th scope="col" class="p-[2rem]">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let terminal of data"
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <td class="w-4 p-[2rem]">
                            <div class="flex items-center">
                                <input id="checkbox-table-search-3" type="checkbox"
                                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="checkbox-table-search-3" class="sr-only">checkbox</label>
                            </div>
                        </td>
                        <td scope="row" class="p-[2rem] font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <div class="flex gap-[1rem]">
                                <div class="h-full">
                                    <img class="h-full" src="/assets/images/Avatar (1).png"  alt="">
                                </div>
                                <div>
                                    <h4 class="leading-0">Jordan Stevenson</h4>
                                    <p class="text-[grey]">@brossiter15</p>
                                </div>
                            </div>
                            {{terminal.paymentId}}
                        </td>
                        <td class="p-[2rem]">
                            <div class="flex items-center gap-[1rem]">
                                <div *ngIf="terminal.role === 'subscriber' ">
                                    <div class="bg-[#edeaf7] p-[1rem] rounded-[50%]">
                                        <img src="/assets/images/bx-user.png" alt="">
                                    </div>
                                </div>
                                <div *ngIf="terminal.role === 'editor'">
                                    <div class="bg-[#edeaf7] p-[1rem] rounded-[50%]">
                                    <img src="/assets/images/bx-edit.png" alt="">
                                    </div>
                                </div>
                                <div *ngIf="terminal.role === 'maintainer'">
                                    <div class="bg-[#edeaf7] p-[1rem] rounded-[50%]">
                                    <img src="/assets/images/BarChart.png" alt="">
                                    </div>
                                </div>
                                <div *ngIf="terminal.role === 'author'">
                                    <div class="bg-[#edeaf7] p-[1rem] rounded-[50%]">
                                    <img src="/assets/images/bx-cog.png" alt="">
                                    </div>
                                </div>
                                <div>
                                    {{terminal.role}}

                                </div>
                            </div>
                        </td>
                        <td class="p-[2rem]">
                            {{terminal.plan}}
                        </td>
                        <td class="p-[2rem]">
                            {{terminal.billing}}

                        </td>

                        <td class="p-[1rem]">

                            <div *ngIf="terminal.status === 'created' "
                                class="bg-[#EAECFF] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                                <div>
                                    <img src="/assets/images/create.png" alt="">
                                </div>
                                <span class="text-[#3D42AD]">Created</span>
                            </div>

                            <div *ngIf="terminal.status === 'pending' "
                                class="bg-[#fee0b5] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                                <div>
                                    <img src="/assets/images/pending.png" alt="">
                                </div>
                                <span class="text-[#B5850B]">Pending</span>
                            </div>

                            <div *ngIf="terminal.status === 'succeded' "
                                class="bg-[#EDFFEA] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                                <div>
                                    <img src="/assets/images/success.png" alt="">
                                </div>
                                <span class="text-[#165E3D]">Succeded</span>
                            </div>

                            <div *ngIf="terminal.status === 'rejected' "
                                class="bg-[#FFEAEA] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                                <div>
                                    <img src="/assets/images/declined.png" alt="">
                                </div>
                                <span class="text-[#B83131]">Rejected</span>
                            </div>
                        </td>

                        <td class="p-[2rem]">
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="mt-[4rem] bg-[#fff] flex justify-between p-[1rem] px-[2rem]">
                <div>
                    <span> 5 Result</span>
                </div>
                <div class="flex justify-end gap-[2rem] md:mr-[20rem]">
                    <div class="p-[1rem] py-[0.5rem] border rounded-[4px]">
                        Previous
                    </div>
                    <div class="p-[1rem] py-[0.5rem] border rounded-[4px]">
                        Next
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>