<div class="bg-[#F5F4F7] h-fit md:p-[6rem] p-[2rem]">
    <div class="flex justify-between items-center mb-[5rem]">
        <div class="flex justify-between items-center w-[100%]">
            <div class="">
                <h2 class="text-[#15192C] font-[600] text-[27px] leading-[33px]">Analysis Overview</h2>
            </div>
            <div class="flex justify-center gap-2 items-center bg-[#fff] p-[1rem] rounded-[8px]">
                <div class="flex justify-center h-[20px]">
                    <img class="h-[100%]" src="/assets/images/download.png" alt="">
                </div>
                <span class="text-[#7B57FC]">
                    Export
                </span>
            </div>
        </div>
    </div>

    <div class="grid md:grid-cols-4 grid-cols-1 gap-[1rem]">
        <div class="flex justify-between bg-[#fff] rounded-[8px] p-[2rem] gap-[2rem]">
            <div>
                <div class="text-[grey] text-[16px] leading-[24px]">Users</div>
                <div class="flex items-center gap-[0.3rem]">
                    <span class="text-[20px] font-[500] leading-[32px]">21,459</span> <span
                        class="text-[#7b57fc] leading-[21px]">(+29%)</span>

                </div>
                <div class="text-[grey]">Total Users</div>
            </div>
            <div>
                <div class="bg-[#edeaf7] p-[1rem] rounded-[6px]">
                    <img src="/assets/images/Icon.png" alt="">
                </div>

            </div>
        </div>

        <div class="flex justify-between bg-[#fff] rounded-[8px] p-[2rem] gap-[2rem]">
            <div>
                <div class="text-[grey] text-[16px] leading-[24px]">Users</div>
                <div class="flex items-center gap-[0.3rem]">
                    <span class="text-[20px] font-[500] leading-[32px]">21,459</span> <span
                        class="text-[#7b57fc] leading-[21px]">(+29%)</span>

                </div>
                <div class="text-[grey]">Total Users</div>
            </div>
            <div>
                <div class="bg-[#edeaf7] p-[1rem] rounded-[6px]">
                    <img src="/assets/images/Icon.png" alt="">
                </div>

            </div>
        </div>

        <div class="flex justify-between bg-[#fff] rounded-[8px] p-[2rem] gap-[2rem]">
            <div>
                <div class="text-[grey] text-[16px] leading-[24px]">Users</div>
                <div class="flex items-center gap-[0.3rem]">
                    <span class="text-[20px] font-[500] leading-[32px]">21,459</span> <span
                        class="text-[#7b57fc] leading-[21px]">(+29%)</span>

                </div>
                <div class="text-[grey]">Total Users</div>
            </div>
            <div>
                <div class="bg-[#edeaf7] p-[1rem] rounded-[6px]">
                    <img src="/assets/images/Icon.png" alt="">
                </div>

            </div>
        </div>

        <div class="flex justify-between bg-[#fff] rounded-[8px] p-[2rem] gap-[2rem]">
            <div>
                <div class="text-[grey] text-[16px] leading-[24px]">Users</div>
                <div class="flex items-center gap-[0.3rem]">
                    <span class="text-[20px] font-[500] leading-[32px]">21,459</span> <span
                        class="text-[#7b57fc] leading-[21px]">(+29%)</span>

                </div>
                <div class="text-[grey]">Total Users</div>
            </div>
            <div>
                <div class="bg-[#edeaf7] p-[1rem] rounded-[6px]">
                    <img src="/assets/images/Icon.png" alt="">
                </div>

            </div>
        </div>
    </div>

    <div class="bg-[#fff]">
        <div class="flex items-center justify-between pb-0  mt-[2rem] p-[1rem]">
            <div class="w-[100%] grid gap-[2rem]  pt-[2rem] ">

                <div class="w-[100%]  items-center">
                    <div class="w-[100%] grid md:grid-cols-3 grid-cols-1 gap-[2rem]">
                        <div class="md:col-span-1 col-span-1 p-[1rem] py-[0.5rem] border bg-[#fff] rounded-[8px]">
                            <select id="countries"
                                class=" outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option selected>
                                    <div><img src="/assets/images/flag.png" alt=""></div>
                                    <span>Date Range</span>
                                </option>
                                <option value="US">Success</option>
                                <option value="CA">Failure</option>
                                <option value="FR">Pending</option>
                            </select>
                        </div>
                        <div class="md:col-span-1 col-span-1 p-[1rem] py-[0.5rem] border bg-[#fff] rounded-[8px]">
                            <select id="countries"
                                class="outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option selected>Paystack</option>
                                <option value="US">Remiter</option>
                                <option value="CA">Interswitch</option>
                                <option value="FR">Flutterwave</option>
                            </select>
                        </div>
                        <div class="md:col-span-1 col-span-1 p-[1rem] py-[0.5rem] border bg-[#fff] rounded-[8px]">
                            <select id="countries"
                                class="outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option selected>Status</option>
                                <option value="US">All</option>
                                <option value="CA">Succeded</option>
                                <option value="FR">Refunded</option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="flex justify-between border-t-2 py-[1rem] ">
                    <div class="flex justify-center gap-2 items-center border bg-[#fff] p-[1rem] rounded-[8px]">
                        <div class="flex justify-center h-[20px]">
                            <img class="h-[100%]" src="/assets/images/download.png" alt="">
                        </div>
                        <span class="text-[#7B57FC]">
                            Export
                        </span>
                    </div>
                    <div class="flex items-center gap-[1rem] w-[40%]">
                        <div
                            class="bg-[#FBFBFB] border rounded-[8px] gap-[1rem] flex p-[1rem] py-[0.5rem] w-[70%] md:mt-[0] mt-[1rem]">
                            <div class="flex justify-center items-center">
                                <img src="/assets/images/inputSearch.png" alt="">
                            </div>
                            <input type="text" id="table-search"
                                class="block p-2 w-[90%] bg-[#FBFBFB] text-gray-900 outline-none  rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Search by amount , payment method...">
                        </div>
                        <div class="bg-[#7535fd] border text-[#fff] p-[0.8rem] rounded-[8px] whitespace-nowrap"> Add
                            User </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="relative overflow-x-auto sm:rounded-lg ">

            <table class="w-full text-[14px] leading-[150%]  text-[#4B5563] text-left dark:text-gray-400">
                <thead
                    class="text-[14px] italic font-[100]  text-[#374151] uppercase bg-[#fff]  dark:bg-gray-700 dark:text-gray-400">
                    <tr class="border-b">
                        <th scope="col" class="p-[2rem]">
                            <div class="flex items-center">
                                <input id="checkbox-all-search" type="checkbox"
                                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="checkbox-all-search" class="sr-only">Payment ID</label>
                            </div>
                        </th>
                        <th scope="col" class="p-[2rem]">
                            User
                        </th>
                        <th scope="col" class="p-[2rem]">
                            Role
                        </th>
                        <th scope="col" class="p-[2rem]">
                            Plan
                        </th>
                        <th scope="col" class="p-[2rem]">
                            Billing
                        </th>
                        <th scope="col" class="p-[2rem]">
                            Status
                        </th>
                        <th scope="col" class="p-[2rem]">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let terminal of data"
                        class="bg-[#fff] border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <td class="w-4 p-[2rem]">
                            <div class="flex items-center">
                                <input id="checkbox-table-search-3" type="checkbox"
                                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="checkbox-table-search-3" class="sr-only">checkbox</label>
                            </div>
                        </td>
                        <td scope="row" class="px-[2rem] font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <div class="flex gap-[1rem]">
                                <div class="h-full">
                                    <img class="h-full" src="/assets/images/Avatar (1).png" alt="">
                                </div>
                                <div class="p-0">
                                    <span class="leading-0">Jordan Stevenson</span><br>
                                    <span class="text-[grey] leading-0">@brossiter15</span>
                                </div>
                            </div>
                            {{terminal.paymentId}}
                        </td>
                        <td class="px-[2rem]">
                            <div class="flex items-center gap-[1rem]">
                                <div *ngIf="terminal.role === 'subscriber' ">
                                    <div class="bg-[#edeaf7] p-[1rem] rounded-[50%]">
                                        <img src="/assets/images/bx-user.png" alt="">
                                    </div>
                                </div>
                                <div *ngIf="terminal.role === 'editor'">
                                    <div class="bg-[#edeaf7] p-[1rem] rounded-[50%]">
                                        <img src="/assets/images/bx-edit.png" alt="">
                                    </div>
                                </div>
                                <div *ngIf="terminal.role === 'maintainer'">
                                    <div class="bg-[#edeaf7] p-[1rem] rounded-[50%]">
                                        <img src="/assets/images/BarChart.png" alt="">
                                    </div>
                                </div>
                                <div *ngIf="terminal.role === 'author'">
                                    <div class="bg-[#edeaf7] p-[1rem] rounded-[50%]">
                                        <img src="/assets/images/bx-cog.png" alt="">
                                    </div>
                                </div>
                                <div>
                                    {{terminal.role}}

                                </div>
                            </div>
                        </td>
                        <td class="px-[2rem]">
                            {{terminal.plan}}
                        </td>
                        <td class="px-[2rem]">
                            {{terminal.billing}}

                        </td>

                        <td class="px-[1rem]">
                            <div *ngIf="terminal.status === 'PENDING' "
                                class="bg-[lightgrey] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                                <span class="">{{terminal.status}}</span>
                            </div>

                            <div *ngIf="terminal.status === 'ACTIVE' "
                                class="bg-[#e9dffc] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                                <span class="text-[#7b57fc]">{{terminal.status}}</span>
                            </div>

                        </td>

                        <td class="px-[2rem]">
                            <i class="fa fa-ellipsis-v ml-[10px]"></i>
                        </td>
                    </tr>

                </tbody>
            </table>
            <div class="mt-[4rem] bg-[#fff] flex  p-[1rem] justify-end">
                <div class="flex items-center gap-[2rem]">
                    <div class="p-[1rem] py-[0.5rem] flex items-center bg-[#fff] rounded-[8px]">
                        <span class="whitespace-nowrap">Rows per page: </span>
                        <select id="countries"
                            class=" outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                            <option selected>
                                <div><img src="/assets/images/flag.png" alt=""></div>
                                <span>10</span>
                            </option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                        </select>
                    </div>
                    <div>
                        1-5 of 13
                    </div>
                    <div class="flex justify-end gap-[2rem] md:mr-[2rem]">
                        <div class="p-[1rem] py-[0.5rem] rounded-[4px]">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        </div>
                        <div class="p-[1rem] py-[0.5rem] rounded-[4px]">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>





<div class="p-[4rem] bg-[#F5F4F7]">

    <div class="flex justify-between items-center mb-[1rem]">
        <div class="flex justify-between items-center w-[100%]">
            <div class="">

                <div class="p-[0.2rem] py-[0.5rem] border flex items-center bg-[#fff] rounded-[8px]">
                    <select id="countries"
                        class=" outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                        <option selected>
                            <span>This Month</span>
                        </option>
                        <option value="read">read</option>
                        <option value="write">write</option>
                    </select>
                </div>

            </div>
            <div class="flex justify-center gap-6 items-center bg-[#7535FD] p-[1rem] px-[2rem] rounded-[8px]">
                <div class="flex justify-center h-[20px]">
                    <img class="h-[100%]" src="/assets/images/downloanIcon.png" alt="">
                </div>
                <span class="text-[#fff] ">
                    Download Report
                </span>
            </div>
        </div>
    </div>


    <div class="grid md:grid-cols-3 grid-cols-1 gap-[1rem] py-[2rem] bg-[#F5F4F7] ">
        <div class="grid bg-[#fff] rounded-[8px] p-[2rem] gap-[2rem]">
            <div class="flex justify-between ">
                <div>
                    <div class="text-[16px] leading-[24px]">Sales</div>
                    <div class="text-[grey]">Total Users</div>
                </div>
                <div>
                    <div class="flex items-center gap-[1rem]">
                        <span>+1,479</span>
                        <div class="bg-[#edeaf7] p-[0.5rem] rounded-[50%]">
                            <img src="/assets/images/arrow.png" alt="">
                        </div>
                    </div>

                </div>
            </div>
            <div class="bg-[lightgrey] w-[100%] h-[4px] rounded-[5px]">
                <div class="bg-[#7b57fc] w-[70%] h-[4px] rounded-[5px]">
                </div>
            </div>
        </div>

        <div class="grid bg-[#fff] rounded-[8px] p-[2rem] gap-[2rem]">
            <div class="flex justify-between ">
                <div>
                    <div class="text-[16px] leading-[24px]">Sales</div>
                    <div class="text-[grey]">Total Users</div>
                </div>
                <div>
                    <div class="flex items-center gap-[1rem]">
                        <span>+1,479</span>
                        <div class="bg-[#edeaf7] p-[0.5rem] rounded-[50%]">
                            <img src="/assets/images/arrow.png" alt="">
                        </div>
                    </div>

                </div>
            </div>
            <div class="bg-[lightgrey] w-[100%] h-[4px] rounded-[5px]">
                <div class="bg-[#7b57fc] w-[70%] h-[4px] rounded-[5px]">
                </div>
            </div>
        </div>

        <div class="grid bg-[#fff] rounded-[8px] p-[2rem] gap-[2rem]">
            <div class="flex justify-between ">
                <div>
                    <div class="text-[16px] leading-[24px]">Sales</div>
                    <div class="text-[grey]">Total Users</div>
                </div>
                <div>
                    <div class="flex items-center gap-[1rem]">
                        <span>+1,479</span>
                        <div class="bg-[#edeaf7] p-[0.5rem] rounded-[50%]">
                            <img src="/assets/images/arrow.png" alt="">
                        </div>
                    </div>

                </div>
            </div>
            <div class="bg-[lightgrey] w-[100%] h-[4px] rounded-[5px]">
                <div class="bg-[#7b57fc] w-[70%] h-[4px] rounded-[5px]">
                </div>
            </div>
        </div>
    </div>





    <div class="relative overflow-x-auto sm:rounded-lg ">

        <table class="w-full text-[14px] leading-[150%]  text-[#4B5563] text-left dark:text-gray-400">
            <thead
                class="text-[14px] italic font-[100]  text-[#374151] uppercase bg-[#fff]  dark:bg-gray-700 dark:text-gray-400">
                <tr class="border-b">
                    <th scope="col" class="p-[2rem]">
                        <div class="flex items-center">
                            <input id="checkbox-all-search" type="checkbox"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="checkbox-all-search" class="sr-only">Payment ID</label>
                        </div>
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Invoice Number
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Customer Name
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Date
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Amount
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Email
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Product Id
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Status
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let terminal of users"
                    class="bg-[#fff] border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="w-4 p-[2rem]">
                        <div class="flex items-center">
                            <input id="checkbox-table-search-3" type="checkbox"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="checkbox-table-search-3" class="sr-only">checkbox</label>
                        </div>
                    </td>
                    <td scope="row" class="px-[2rem] font-medium text-gray-900 whitespace-nowrap dark:text-white">

                        #{{terminal.invoice_number}}
                    </td>
                    <td class="px-[2rem]">
                        {{terminal.name}}
                    </td>
                    <td class="px-[2rem]">
                        {{terminal.date}}
                    </td>
                    <td class="px-[2rem]">
                        {{terminal.amount}}

                    </td>
                    <td class="px-[2rem]">
                        {{terminal.email}}

                    </td>
                    <td class="px-[2rem]">
                        {{terminal.productId}}

                    </td>

                    <td class="px-[1rem]">
                        <div *ngIf="terminal.status === 'paid' "
                            class="bg-[#bff9e6] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                            <span class="text-[#1AD598]">{{terminal.status}}</span>
                        </div>
                        <div *ngIf="terminal.status === 'pending' "
                            class="bg-[#edecec] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                            <span class="text-[grey]">{{terminal.status}}</span>
                        </div>

                        <div *ngIf="terminal.status === 'unpaid' "
                            class="bg-[#f9c0c0] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                            <span class="text-[#EA3A3D]">{{terminal.status}}</span>
                        </div>

                    </td>

                    <td class="px-[2rem]">
                        <div class="p-[0.2rem] py-[0.5rem] border flex items-center bg-[#fff] rounded-[8px]">
                            <select id="countries"
                                class=" outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                                <option selected>
                                    <div><img src="/assets/images/flag.png" alt=""></div>
                                    <span>Options</span>
                                </option>
                                <option value="read">read</option>
                                <option value="write">write</option>
                            </select>
                        </div>

                    </td>
                </tr>

            </tbody>
        </table>
        <div class="mt-[4rem] bg-[#fff] flex  p-[1rem] justify-end">
            <div class="flex items-center gap-[2rem]">
                <div class="p-[1rem] py-[0.5rem] flex items-center bg-[#fff] rounded-[8px]">
                    <span class="whitespace-nowrap">Rows per page: </span>
                    <select id="countries"
                        class=" outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                        <option selected>
                            <div><img src="/assets/images/flag.png" alt=""></div>
                            <span>10</span>
                        </option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                </div>
                <div>
                    1-5 of 13
                </div>
                <div class="flex justify-end gap-[2rem] md:mr-[2rem]">
                    <div class="p-[1rem] py-[0.5rem] rounded-[4px]">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </div>
                    <div class="p-[1rem] py-[0.5rem] rounded-[4px]">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
















<div class="p-[4rem] bg-[#F5F4F7]">

    <div class="flex justify-between items-center mb-[1rem]">
        <div class="flex justify-between items-center w-[100%]">
            <div class="">

                <div class="p-[0.2rem] py-[0.5rem] border flex items-center bg-[#fff] rounded-[8px]">
                    <select id="countries"
                        class=" outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                        <option selected>
                            <span>This Month</span>
                        </option>
                        <option value="read">read</option>
                        <option value="write">write</option>
                    </select>
                </div>

            </div>
            <div class="flex justify-center gap-6 items-center bg-[#7535FD] p-[1rem] px-[2rem] rounded-[8px]">
                <div class="flex justify-center h-[20px]">
                    <img class="h-[100%]" src="/assets/images/downloanIcon.png" alt="">
                </div>
                <span class="text-[#fff] ">
                    Download Report
                </span>
            </div>
        </div>
    </div>


    <div class="relative overflow-x-auto sm:rounded-lg ">

        <table class="w-full text-[14px] leading-[150%]  text-[#4B5563] text-left dark:text-gray-400">
            <thead
                class="text-[14px] italic font-[100]  text-[#374151] uppercase bg-[#fff]  dark:bg-gray-700 dark:text-gray-400">
                <tr class="border-b">
                    <th scope="col" class="p-[2rem]">
                        <div class="flex items-center">
                            <input id="checkbox-all-search" type="checkbox"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="checkbox-all-search" class="sr-only">Payment ID</label>
                        </div>
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Client Name
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Transaction
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Conversion
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Total
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Rate
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Status
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Rating
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Options
                    </th>
                    <th scope="col" class="p-[2rem]">

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let terminal of usersList; let i = index"
                    class="bg-[#fff] border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="w-4 p-[2rem]">
                        <div class="flex items-center">
                            <input id="checkbox-table-search-3" type="checkbox"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="checkbox-table-search-3" class="sr-only">checkbox</label>
                        </div>
                    </td>
                    <td scope="row" class="px-[2rem] font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <div class="flex gap-[1rem] items-center">
                            <span class="p-[0.5rem] h-[30px] w-[30px] text-center rounded-[8px]" [ngClass]="{
                                'bg-[#BBD2F8] text-[#217EFD]': (i + 1) % 2 == 1,
                                'bg-[#F8E2C0] text-[#FFB536]': (i + 1) % 2 == 0,
                                'bg-[#EEC7F4] text-[#DB5AEE]': (i + 1) % 3 == 0,
                            }">{{i + 1}}</span>
                            <span>{{terminal.name}}</span>
                        </div>
                    </td>
                    <td class="px-[2rem]">
                        <div class="border inline-block p-[0.3rem] px-[0.5rem] rounded-[8px]">
                            {{terminal.transaction}}
                        </div>
                    </td>
                    <td class="px-[2rem]">
                        <div class="flex items-center gap-[1rem]">
                            <div [ngClass]="{
                                'bg-[#BAF3E0]': terminal.conversion > 0,
                                'bg-[#E6ECF0]': terminal.conversion === 0,
                                'bg-[#f9e2e2]': terminal.conversion < 0
                            }" class="p-[0.5rem] rounded-[50%]">
                                <img *ngIf="terminal.conversion > 0" src="/assets/images/arrow1.png" alt="">
                                <img *ngIf="terminal.conversion < 0" src="/assets/images/arrow2.png" alt="">
                                <img *ngIf="terminal.conversion == 0" src="/assets/images/arrow3.png" alt="">

                            </div>
                            <span [ngClass]="{
                                'text-[#1AD598]': terminal.conversion > 0,
                                'text-[grey]': terminal.conversion === 0,
                                'text-[#EA3A3D]': terminal.conversion < 0
                              }">
                                {{terminal.conversion}}</span>
                        </div>
                    </td>
                    <td class="px-[2rem]">
                        ${{terminal.total}}

                    </td>
                    <td class="px-[2rem]">
                        {{terminal.rate}}

                    </td>
                    <td class="px-[1rem]">
                        <div *ngIf="terminal.status === 'ACTIVE' "
                            class="bg-[#bff9e6] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                            <span class="text-[#1AD598]">{{terminal.status}}</span>
                        </div>
                        <div *ngIf="terminal.status === 'PENDING' "
                            class="bg-[#edecec] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                            <span class="text-[grey]">{{terminal.status}}</span>
                        </div>

                        <div *ngIf="terminal.status === 'unpaid' "
                            class="bg-[#f9c0c0] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                            <span class="text-[#EA3A3D]">{{terminal.status}}</span>
                        </div>

                    </td>

                    <td class="px-[1rem]">
                        <ng-container *ngFor="let index of getRatings(terminal.rating)">
                            <i class="fa fa-star text-[#FFB536]" aria-hidden="true"></i>
                        </ng-container>
                        <ng-container *ngFor="let index of getRatings(5 - terminal.rating)">
                            <i class="fa fa-star text-[#99B2C6]" aria-hidden="true"></i>
                        </ng-container>

                    </td>

                    <td class="px-[2rem]">
                        <div class="p-[0.2rem] py-[0.5rem] border flex items-center bg-[#fff] rounded-[8px]">
                            <select id="countries"
                                class=" outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                                <option selected>
                                    <div><img src="/assets/images/flag.png" alt=""></div>
                                    <span>Options</span>
                                </option>
                                <option value="read">read</option>
                                <option value="write">write</option>
                            </select>
                        </div>

                    </td>
                    <td>
                        <div class="h-[30%] m-auto p-[1rem]">
                            <img class="h-[30px] cursor-pointer" src="assets/images/dl_btn.png" alt="">
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
        <div class="mt-[4rem] bg-[#fff] flex  p-[1rem] justify-end">
            <div class="flex items-center gap-[2rem]">
                <div class="p-[1rem] py-[0.5rem] flex items-center bg-[#fff] rounded-[8px]">
                    <span class="whitespace-nowrap">Rows per page: </span>
                    <select id="countries"
                        class=" outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                        <option selected>
                            <div><img src="/assets/images/flag.png" alt=""></div>
                            <span>10</span>
                        </option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                </div>
                <div>
                    1-5 of 13
                </div>
                <div class="flex justify-end gap-[2rem] md:mr-[2rem]">
                    <div class="p-[1rem] py-[0.5rem] rounded-[4px]">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </div>
                    <div class="p-[1rem] py-[0.5rem] rounded-[4px]">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-2 ">
        <div>

            <ngx-charts-pie-chart
                [scheme]="colorScheme"
                [results]="single"
                [legend]="showLegend"
                [labels]="showLabels"
                [doughnut]="doughnut"
                [gradient]="gradient"
              >
            </ngx-charts-pie-chart>

        </div>
        <div>
            <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            
            >
            </ngx-charts-bar-vertical>
        </div>
    </div>



    <div class="grid bg-[#F5F4F7] mt-[10rem]">
        <div class="grid md:grid-cols-3 grid-cols-1 gap-[1rem]">
            <div class="col-span-1 grid gap-[1rem]">
                <div class="bg-[#fff] py-[3rem]">
                    <div class="flex flex-col items-center gap-[0.5rem]">
                        <img src="assets/images/Gravatar1.png" alt="">
                        <h1>{{terminal.fullName}}</h1>
                        <h3 class="text-[#7535FD] bg-[#CDB6FE] p-[0.5rem] rounded-[4px]">{{terminal.role}}</h3>
                    </div>
                    <div class="flex gap-[1rem] p-[2rem] justify-center">
                        <div class="flex gap-[1rem]">
                            <div class="bg-[#EDECFF] flex justify-center rounded-[4px] items-center h-[40px] w-[40px]">
                                <img src="assets/images/Check1.png" alt="">
                            </div>
                            <div>
                                <div>{{terminal.numOfTerminals}}k</div>
                                <div class="text-[#7f98b1] text-[12px]">Number of Terminals</div>
                            </div>
                        </div>
                        <div class="flex gap-[1rem]">
                            <div class="bg-[#EDECFF] flex justify-center rounded-[4px] items-center h-[40px] w-[40px]">
                                <img src="assets/images/StarBorder.png" alt="">
                            </div>
                            <div>
                                <div>{{terminal.numOfOperators}}k</div>
                                <div class="text-[#7f98b1] text-[12px]">Number of Terminals</div>
                            </div>
                        </div>
                    </div>

                    <div class="w-[80%] mx-auto">
                        <h1 class="py-[1rem] border-b-[1px] w-full">Details</h1>
                        <div class="text-[#7f98b1] p-2">Username: {{terminal.userName}}</div>
                        <div class="text-[#7f98b1] p-2">Billing Email: {{terminal.email}}</div>
                        <div class="text-[#7f98b1] p-2">Status: {{terminal.status}}</div>
                        <div class="text-[#7f98b1] p-2">Role: {{terminal.enterprise}}</div>
                        <div class="text-[#7f98b1] p-2">BVN : {{terminal.bvn}}</div>
                        <div class="text-[#7f98b1] p-2">Contact: {{terminal.contact}}</div>
                        <div class="text-[#7f98b1] p-2">Language: {{terminal.language}}</div>
                        <div class="text-[#7f98b1] p-2">Location: {{terminal.location}}</div>
                    </div>
                    <div class="flex gap-[2rem] justify-center p-[2rem]">
                        <button class="bg-[#7535FD] text-[#fff] rounded-[4px] px-[1rem] py-[0.5rem]">EDIT</button>
                        <button
                            class="text-[#FF3E1D] border border-[#FF3E1D] rounded-[4px] px-[1rem] py-[0.5rem]">SUSPEND</button>
                    </div>
                </div>
                <div class="bg-[#fff] p-[2rem] grid gap-[2rem]">
                    <div class="flex justify-between">
                        <div class="bg-[#EDECFF] p-[0.5rem] text-[#696CFF] text-[12px] rounded-[4px]">STANDARD</div>
                        <div><span class="text-[#696CFF] text-[16px] mr-[1rem]">N</span> <span class="text-[#696CFF] text-[30px] mr-[0.5rem]">9k</span>  <span>week</span></div>

                    </div>
                    <ul class="list-disc px-[1rem]  text-[#7f98b1] grid gap-[1rem]">
                        <li>10 Terminals</li>
                        <li>Up to 5,000 Transactions Per Month</li>
                        <li>Basic Support</li>
                    </ul>
                    <div class="grid gap-[1rem]">
                        <div class="flex justify-between w-[100%]">
                            <h2>Days</h2>
                            <h2>65%</h2>
                        </div>
                        <div class="w-[100%] h-[5px] rounded-[8px] bg-[lightgrey]">
                            <div class="w-[80%] h-[100%] rounded-[8px] bg-[#7535FD]">
                            </div>
                        </div>

                        <div class="text-[#7f98b1]">4 days remaining</div>
                        <button class="rounded-[4px] bg-[#7535FD] text-[#fff] p-[1rem] w-full">UPGRADE PLAN</button>

                    </div>

                </div>

            </div>
            <div class="col-span-2 grid gap-[1rem]">

                <div class="bg-[#fff]">
                    <div class="flex items-center justify-between pb-0  p-[1rem]">
                        <div class="w-[100%] grid gap-[2rem]  ">
                            <div class="flex justify-between py-[1rem] ">
                                <div class="flex justify-center gap-2 items-center bg-[#fff] p-[1rem] rounded-[8px]">
                                    <span class="text-[grey]">
                                        Terminals
                                    </span>
                                </div>
                                <div class="flex justify-end gap-[1rem] w-[40%]">
                                    <div
                                        class="bg-[#FBFBFB] border rounded-[8px] gap-[1rem] flex p-[1rem] py-[0.5rem] w-[70%] md:mt-[0] mt-[1rem]">
                                        <div class="flex justify-center items-center">
                                            <img src="/assets/images/inputSearch.png" alt="">
                                        </div>
                                        <input type="text" id="table-search"
                                            class="block p-2 w-[90%] bg-[#FBFBFB] text-gray-900 outline-none  rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                            placeholder="Search terminal">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="relative overflow-x-auto sm:rounded-lg ">

                        <table class="w-full text-[14px] leading-[150%]  text-[#4B5563] text-left dark:text-gray-400">
                            <thead
                                class="text-[14px] italic font-[100]  text-[#374151] uppercase bg-[#fff]  dark:bg-gray-700 dark:text-gray-400">
                                <tr class="border-b">
                                    <th scope="col" class="p-[2rem]">
                                        Terminals
                                    </th>
                                    <th scope="col" class="p-[2rem]">
                                        TOTAL Transactions
                                    </th>
                                    <th scope="col" class="p-[2rem]">
                                        PROGRESS
                                    </th>
                                    <th scope="col" class="p-[2rem]">
                                        active HOURS
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let terminal of terminalData1"
                                    class="bg-[#fff] border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                    <td scope="row"
                                        class="p-[1rem] font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <div class="flex gap-[1rem]">
                                            <div class="h-full">
                                                <img class="h-full" src="/assets/images/{{terminal.image}}" alt="">
                                            </div>
                                            <div class="p-0">
                                                <span class="leading-0 ">{{terminal.name}}</span><br>
                                                <span class="text-[grey] leading-0">{{terminal.project}}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="p-[1rem]">
                                        {{terminal.transactionValue}}/{{terminal.transactionAggregate}}
                                    </td>
                                    <td class="p-[1rem]">
                                        {{terminal.progress}}%
                                        <div class="w-full bg-[#EBEEF0] h-[5px] rounded-[8px]">
                                            <div [style.width.%]="terminal.progress"
                                                class="h-[100%] bg-[#7535FD] rounded-[8px]"></div>
                                        </div>
                                    </td>
                                    <td class="p-[1rem]">
                                        {{terminal.activeHours}}
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="bg-[#fff] flex p-[1rem] justify-end">
                            <div class="flex items-center gap-[2rem]">
                                <div class="p-[1rem] py-[0.5rem] flex items-center bg-[#fff] rounded-[8px]">
                                    <span class="whitespace-nowrap">Rows per page: </span>
                                    <select id="countries"
                                        class=" outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                                        <option selected>
                                            <div><img src="/assets/images/flag.png" alt=""></div>
                                            <span>10</span>
                                        </option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                    </select>
                                </div>
                                <div>
                                    1-5 of 13
                                </div>
                                <div class="flex justify-end md:mr-[2rem] items-center">
                                    <div class="p-[1rem] py-[0.5rem] rounded-[4px]">
                                        <img src="assets/images/fa-arrow-left.png" alt="">
                                    </div>
                                    <div class="p-[1rem] py-[0.5rem] rounded-[4px]">
                                        <img src="assets/images/fa-arrow-right.png" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="bg-[#fff] w-[90%]">
                    <div class="flex items-center justify-between pb-0  p-[1rem]">
                        <div class="w-[100%] grid gap-[2rem]  ">
                            <div class="flex justify-between py-[1rem] ">
                                <div
                                    class="flex pr-[4rem] justify-center gap-2 items-center bg-[#fff] p-[1rem] rounded-[8px]">
                                    <span class="text-[grey]">
                                        Transaction List
                                    </span>
                                </div>
                                <div class="flex justify-end gap-[1rem] w-[40%]">
                                    <div
                                        class="bg-[#7535FD] flex justify-center items-center p-[1rem] text-[#fff] rounded-[8px]">
                                        <span>EXPORT</span>
                                        <img src="assets/images/KeyboardArrowDown.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="relative overflow-x-auto sm:rounded-lg ">

                        <table class="w-full text-[14px] leading-[150%]  text-[#4B5563] text-left dark:text-gray-400">
                            <thead
                                class="text-[14px] italic font-[100]  text-[#374151] uppercase bg-[#fff]  dark:bg-gray-700 dark:text-gray-400">
                                <tr class="border-b">
                                    <th scope="col" class="p-[2rem]">
                                        ID
                                    </th>
                                    <th scope="col" class="p-[2rem]">
                                        TOTAL
                                    </th>
                                    <th scope="col" class="p-[2rem]">
                                        Issued Date
                                    </th>
                                    <th scope="col" class="p-[2rem]">
                                        ACTIONS
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let transaction of transactions"
                                    class="bg-[#fff] border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                    <td scope="row"
                                        class="p-[1rem] font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <div class="flex gap-[1rem]">
                                            {{transaction.id}}
                                        </div>
                                    </td>
                                    <td class="p-[1rem]">
                                        {{transaction.total}}
                                    </td>
                                    <td class="p-[1rem]">
                                        {{transaction.issuedDate}}%
                                    </td>
                                    <td class="p-[1rem]">
                                        <div class="flex gap-[1rem]">
                                            <div>
                                                <img class="cursor-pointer" src="assets/images/bx-send.png" alt="">
                                            </div>
                                            <div>
                                                <img class="cursor-pointer" src="assets/images/bx-show.png" alt="">
                                            </div>
                                            <div>
                                                <img class="cursor-pointer" src="assets/images/bx-download.png" alt="">
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="bg-[#fff] flex  p-[1rem] justify-end">
                            <div class="flex items-center gap-[2rem]">
                                <div class="p-[1rem] py-[0.5rem] flex items-center bg-[#fff] rounded-[8px]">
                                    <span class="whitespace-nowrap">Rows per page: </span>
                                    <select id="countries"
                                        class=" outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                                        <option selected>
                                            <div><img src="/assets/images/flag.png" alt=""></div>
                                            <span>10</span>
                                        </option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                    </select>
                                </div>
                                <div>
                                    1-5 of 13
                                </div>
                                <div class="flex justify-end md:mr-[2rem] items-center">
                                    <div class="p-[1rem] py-[0.5rem] rounded-[4px]">
                                        <img src="assets/images/fa-arrow-left.png" alt="">
                                    </div>
                                    <div class="p-[1rem] py-[0.5rem] rounded-[4px]">
                                        <img src="assets/images/fa-arrow-right.png" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

        </div>







    </div>










</div>






