<div class="bg-[#F5F4F7] h-fit md:p-[6rem] p-[2rem]">
    <div class="flex justify-between items-center mb-[5rem]">
        <div class="flex justify-between items-center w-[100%]">
            <div class="">
                <h2 class="text-[#15192C] font-[600] text-[27px] leading-[33px]">Analysis Overview</h2>
            </div>
            <div class="flex justify-center gap-2 items-center bg-[#fff] p-[1rem] rounded-[8px]">
                <div class="flex justify-center h-[20px]">
                    <img class="h-[100%]" src="/assets/images/download.png" alt="">
                </div>
                <span class="text-[#7B57FC]">
                    Export
                </span>
            </div>
        </div>
    </div>

    <div class="grid md:grid-cols-4 grid-cols-1 gap-[1rem]">
        <div class="flex justify-between bg-[#fff] rounded-[8px] p-[2rem] gap-[2rem]">
            <div>
                <div class="text-[grey] text-[16px] leading-[24px]">Users</div>
                <div class="flex items-center gap-[0.3rem]">
                    <span class="text-[20px] font-[500] leading-[32px]">21,459</span> <span
                        class="text-[#7b57fc] leading-[21px]">(+29%)</span>

                </div>
                <div class="text-[grey]">Total Users</div>
            </div>
            <div>
                <div class="bg-[#edeaf7] p-[1rem] rounded-[6px]">
                    <img src="/assets/images/Icon.png" alt="">
                </div>

            </div>
        </div>

        <div class="flex justify-between bg-[#fff] rounded-[8px] p-[2rem] gap-[2rem]">
            <div>
                <div class="text-[grey] text-[16px] leading-[24px]">Users</div>
                <div class="flex items-center gap-[0.3rem]">
                    <span class="text-[20px] font-[500] leading-[32px]">21,459</span> <span
                        class="text-[#7b57fc] leading-[21px]">(+29%)</span>

                </div>
                <div class="text-[grey]">Total Users</div>
            </div>
            <div>
                <div class="bg-[#edeaf7] p-[1rem] rounded-[6px]">
                    <img src="/assets/images/Icon.png" alt="">
                </div>

            </div>
        </div>

        <div class="flex justify-between bg-[#fff] rounded-[8px] p-[2rem] gap-[2rem]">
            <div>
                <div class="text-[grey] text-[16px] leading-[24px]">Users</div>
                <div class="flex items-center gap-[0.3rem]">
                    <span class="text-[20px] font-[500] leading-[32px]">21,459</span> <span
                        class="text-[#7b57fc] leading-[21px]">(+29%)</span>

                </div>
                <div class="text-[grey]">Total Users</div>
            </div>
            <div>
                <div class="bg-[#edeaf7] p-[1rem] rounded-[6px]">
                    <img src="/assets/images/Icon.png" alt="">
                </div>

            </div>
        </div>

        <div class="flex justify-between bg-[#fff] rounded-[8px] p-[2rem] gap-[2rem]">
            <div>
                <div class="text-[grey] text-[16px] leading-[24px]">Users</div>
                <div class="flex items-center gap-[0.3rem]">
                    <span class="text-[20px] font-[500] leading-[32px]">21,459</span> <span
                        class="text-[#7b57fc] leading-[21px]">(+29%)</span>

                </div>
                <div class="text-[grey]">Total Users</div>
            </div>
            <div>
                <div class="bg-[#edeaf7] p-[1rem] rounded-[6px]">
                    <img src="/assets/images/Icon.png" alt="">
                </div>

            </div>
        </div>
    </div>

    <div class="bg-[#fff]">
        <div class="flex items-center justify-between pb-0  mt-[2rem] p-[1rem]">
            <div class="w-[100%] grid gap-[2rem]  pt-[2rem] ">

                <div class="w-[100%]  items-center">
                    <div class="w-[100%] grid md:grid-cols-3 grid-cols-1 gap-[2rem]">
                        <div class="md:col-span-1 col-span-1 p-[1rem] py-[0.5rem] border bg-[#fff] rounded-[8px]">
                            <select id="countries"
                                class=" outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                                <option selected>
                                    <div><img src="/assets/images/flag.png" alt=""></div>
                                    <span>Date Range</span>
                                </option>
                                <option value="US">Success</option>
                                <option value="CA">Failure</option>
                                <option value="FR">Pending</option>
                            </select>
                        </div>
                        <div class="md:col-span-1 col-span-1 p-[1rem] py-[0.5rem] border bg-[#fff] rounded-[8px]">
                            <select id="countries"
                                class="outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                                <option selected>Paystack</option>
                                <option value="US">Remiter</option>
                                <option value="CA">Interswitch</option>
                                <option value="FR">Flutterwave</option>
                            </select>
                        </div>
                        <div class="md:col-span-1 col-span-1 p-[1rem] py-[0.5rem] border bg-[#fff] rounded-[8px]">
                            <select id="countries"
                                class="outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                                <option selected>Status</option>
                                <option value="US">All</option>
                                <option value="CA">Succeded</option>
                                <option value="FR">Refunded</option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="flex justify-between border-t-2 py-[1rem] ">
                    <div class="flex justify-center gap-2 items-center border bg-[#fff] p-[1rem] rounded-[8px]">
                        <div class="flex justify-center h-[20px]">
                            <img class="h-[100%]" src="/assets/images/download.png" alt="">
                        </div>
                        <span class="text-[#7B57FC]">
                            Export
                        </span>
                    </div>
                    <div class="flex items-center gap-[1rem] w-[40%]">
                        <div
                            class="bg-[#FBFBFB] border rounded-[8px] gap-[1rem] flex p-[1rem] py-[0.5rem] w-[70%] md:mt-[0] mt-[1rem]">
                            <div class="flex justify-center items-center">
                                <img src="/assets/images/inputSearch.png" alt="">
                            </div>
                            <input type="text" id="table-search"
                                class="block p-2 w-[90%] bg-[#FBFBFB] text-gray-900 outline-none  rounded-lg focus:ring-blue-500 focus:border-blue-500 "
                                placeholder="Search by amount , payment method...">
                        </div>
                        <div class="bg-[#7535fd] border text-[#fff] p-[0.8rem] rounded-[8px] whitespace-nowrap"> Add
                            User </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="relative overflow-x-auto sm:rounded-lg ">

            <table class="w-full text-[14px] leading-[150%]  text-[#4B5563] text-left">
                <thead
                    class="text-[14px] italic font-[100]  text-[#374151] uppercase bg-[#fff] ">
                    <tr class="border-b">
                        <th scope="col" class="p-[2rem]">
                            <div class="flex items-center">
                                <input id="checkbox-all-search" type="checkbox"
                                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 ">
                                <label for="checkbox-all-search" class="sr-only">Payment ID</label>
                            </div>
                        </th>
                        <th scope="col" class="p-[2rem]">
                            User
                        </th>
                        <th scope="col" class="p-[2rem]">
                            Recent Active Date
                        </th>
                        <th scope="col" class="p-[2rem]">
                            Merchant ID
                        </th>
                        <th scope="col" class="p-[2rem]">
                            Bank Name
                        </th>
                        <th scope="col" class="p-[2rem]">
                            Status
                        </th>
                        <th scope="col" class="p-[2rem]">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let merchant of merchants"
                        class="bg-[#fff] border-b  hover:bg-gray-50 ">
                        <td class="w-4 p-[2rem]">
                            <div class="flex items-center">
                                <input id="checkbox-table-search-3" type="checkbox"
                                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 ">
                                <label for="checkbox-table-search-3" class="sr-only">checkbox</label>
                            </div>
                        </td>
                        <td scope="row" class="px-[2rem] font-medium text-gray-900 whitespace-nowrap ">
                            <div class="flex gap-[1rem]">
                                <div class="h-full">
                                    <img class="h-full" src="/assets/images/Avatar (1).png" alt="">
                                </div>
                                <div class="p-0">
                                    <span class="leading-0">{{merchant.contactName}}</span><br>
                                    <span class="text-[grey] leading-0">{{merchant.email}}</span>
                                </div>
                            </div>
                            {{merchant.paymentId}}
                        </td>
                        <!-- <td class="px-[2rem]">
                            <div class="flex items-center gap-[1rem]">
                                <div *ngIf="merchant.role === 'subscriber' ">
                                    <div class="bg-[#edeaf7] p-[1rem] rounded-[50%]">
                                        <img src="/assets/images/bx-user.png" alt="">
                                    </div>
                                </div>
                                <div *ngIf="merchant.role === 'editor'">
                                    <div class="bg-[#edeaf7] p-[1rem] rounded-[50%]">
                                        <img src="/assets/images/bx-edit.png" alt="">
                                    </div>
                                </div>
                                <div *ngIf="merchant.role === 'maintainer'">
                                    <div class="bg-[#edeaf7] p-[1rem] rounded-[50%]">
                                        <img src="/assets/images/BarChart.png" alt="">
                                    </div>
                                </div>
                                <div *ngIf="merchant.role === 'author'">
                                    <div class="bg-[#edeaf7] p-[1rem] rounded-[50%]">
                                        <img src="/assets/images/bx-cog.png" alt="">
                                    </div>
                                </div>
                                <div>
                                    {{merchant.role}}

                                </div>
                            </div>
                        </td> -->

                        <td class="px-[2rem] whitespace-nowrap">
                            {{merchant.lastActiveDate}}                               
                        </td>
                        <td class="px-[2rem] whitespace-nowrap">
                            {{merchant.merchantId}}
                        </td>
                        <td class="px-[2rem]">
                            {{merchant.bankType}}

                        </td>

                        <td class="px-[1rem]">
                            <div *ngIf="merchant.walletActive"
                                class="bg-[lightgrey] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                                <span class="">Active</span>
                            </div>

                            <div *ngIf="!merchant.walletActive"
                                class="bg-[#e9dffc] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                                <span class="text-[#7b57fc]">Inactive</span>
                            </div>

                        </td>

                        <td class="px-[2rem] p-[1rem] flex gap-[3rem]">
                            <div ngbDropdown container="body">
                                <button type="button" class="" ngbDropdownToggle>
                                    Actions
                                </button>
                                <div class="rounded-[8px] px-[1rem]" ngbDropdownMenu>
                                    <div class="mb-[1rem]">
                                        <button class="text-[12px] leading-[2rem]" (click)="showDetails(merchant.merchantId)"  ngbDropdownItem>View merchant</button>

                                    </div>
                                    <div>
                                        <button class="text-[12px] leading-[2rem]"  ngbDropdownItem>Some Other</button>

                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
            <!-- <div class="mt-[4rem] bg-[#fff] flex  p-[1rem] justify-end">
                <div class="flex items-center gap-[2rem]">
                    <div class="p-[1rem] py-[0.5rem] flex items-center bg-[#fff] rounded-[8px]">
                        <span class="whitespace-nowrap">Rows per page: </span>
                        <select id="countries"
                            class=" outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">

                            <option selected>
                                <div><img src="/assets/images/flag.png" alt=""></div>
                                <span>10</span>
                            </option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                        </select>
                    </div>
                    <div>
                        1-5 of 13
                    </div>
                    <div class="flex justify-end gap-[2rem] md:mr-[2rem]">
                        <div class="p-[1rem] py-[0.5rem] rounded-[4px]">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        </div>
                        <div class="p-[1rem] py-[0.5rem] rounded-[4px]">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

            </div> -->


            <div class="mt-[4rem] bg-[#fff] flex justify-between items-center p-[1rem] px-[2rem]">
                <div class="flex items-center gap-[1rem]">
                    <span> {{totalNumOfEntry}} Result</span>
    
                    <div class="p-[1rem] py-[0.5rem] flex items-center bg-[#fff] rounded-[12px]">
                        <span class="whitespace-nowrap">Rows per page: </span>
                        <select (change)="getSize(merchantFilterRequest.size)" [(ngModel)]="merchantFilterRequest.size"
                            class=" outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                            <option value=5 selected>5</option>
                            <option value=10>10</option>
                            <option value=20>20</option>
                        </select>
                    </div>
                </div>
    
                <div class="flex justify-end gap-[2rem]">
                    <div (click)="previousPage()" class="cursor-pointer p-[1rem] py-[0.5rem] border rounded-[4px]">
                        Previous
                    </div>
                    <div (click)="nextPage()" class="cursor-pointer p-[1rem] py-[0.5rem] border rounded-[4px]">
                        Next
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>





<div class="p-[4rem] bg-[#F5F4F7]">

    <div class="flex justify-between items-center mb-[1rem]">
        <div class="flex justify-between items-center w-[100%]">
            <div class="">

                <div class="p-[0.2rem] py-[0.5rem] border flex items-center bg-[#fff] rounded-[8px]">
                    <select id="countries"
                        class=" outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">

                        <option selected>
                            <span>This Month</span>
                        </option>
                        <option value="read">read</option>
                        <option value="write">write</option>
                    </select>
                </div>

            </div>
            <div class="flex justify-center gap-6 items-center bg-[#7535FD] p-[1rem] px-[2rem] rounded-[8px]">
                <div class="flex justify-center h-[20px]">
                    <img class="h-[100%]" src="/assets/images/downloanIcon.png" alt="">
                </div>
                <span class="text-[#fff] ">
                    Download Report
                </span>
            </div>
        </div>
    </div>


    <div class="grid md:grid-cols-3 grid-cols-1 gap-[1rem] py-[2rem] bg-[#F5F4F7] ">
        <div class="grid bg-[#fff] rounded-[8px] p-[2rem] gap-[2rem]">
            <div class="flex justify-between ">
                <div>
                    <div class="text-[16px] leading-[24px]">Sales</div>
                    <div class="text-[grey]">Total Users</div>
                </div>
                <div>
                    <div class="flex items-center gap-[1rem]">
                        <span>+1,479</span>
                        <div class="bg-[#edeaf7] p-[0.5rem] rounded-[50%]">
                            <img src="/assets/images/arrow.png" alt="">
                        </div>
                    </div>

                </div>
            </div>
            <div class="bg-[lightgrey] w-[100%] h-[4px] rounded-[5px]">
                <div class="bg-[#7b57fc] w-[70%] h-[4px] rounded-[5px]">
                </div>
            </div>
        </div>

        <div class="grid bg-[#fff] rounded-[8px] p-[2rem] gap-[2rem]">
            <div class="flex justify-between ">
                <div>
                    <div class="text-[16px] leading-[24px]">Sales</div>
                    <div class="text-[grey]">Total Users</div>
                </div>
                <div>
                    <div class="flex items-center gap-[1rem]">
                        <span>+1,479</span>
                        <div class="bg-[#edeaf7] p-[0.5rem] rounded-[50%]">
                            <img src="/assets/images/arrow.png" alt="">
                        </div>
                    </div>

                </div>
            </div>
            <div class="bg-[lightgrey] w-[100%] h-[4px] rounded-[5px]">
                <div class="bg-[#7b57fc] w-[70%] h-[4px] rounded-[5px]">
                </div>
            </div>
        </div>

        <div class="grid bg-[#fff] rounded-[8px] p-[2rem] gap-[2rem]">
            <div class="flex justify-between ">
                <div>
                    <div class="text-[16px] leading-[24px]">Sales</div>
                    <div class="text-[grey]">Total Users</div>
                </div>
                <div>
                    <div class="flex items-center gap-[1rem]">
                        <span>+1,479</span>
                        <div class="bg-[#edeaf7] p-[0.5rem] rounded-[50%]">
                            <img src="/assets/images/arrow.png" alt="">
                        </div>
                    </div>

                </div>
            </div>
            <div class="bg-[lightgrey] w-[100%] h-[4px] rounded-[5px]">
                <div class="bg-[#7b57fc] w-[70%] h-[4px] rounded-[5px]">
                </div>
            </div>
        </div>
    </div>





    <div class="relative overflow-x-auto sm:rounded-lg ">

        <table class="w-full text-[14px] leading-[150%]  text-[#4B5563] text-left">
            <thead
                class="text-[14px] italic font-[100]  text-[#374151] uppercase bg-[#fff] ">
                <tr class="border-b">
                    <th scope="col" class="p-[2rem]">
                        <div class="flex items-center">
                            <input id="checkbox-all-search" type="checkbox"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 ">
                            <label for="checkbox-all-search" class="sr-only">Payment ID</label>
                        </div>
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Invoice Number
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Customer Name
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Date
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Amount
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Email
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Product Id
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Status
                    </th>
                    <th scope="col" class="p-[2rem]">
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let terminal of users"
                    class="bg-[#fff] border-b  hover:bg-gray-50 ">
                    <td class="w-4 p-[2rem]">
                        <div class="flex items-center">
                            <input id="checkbox-table-search-3" type="checkbox"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 ">
                            <label for="checkbox-table-search-3" class="sr-only">checkbox</label>
                        </div>
                    </td>
                    <td scope="row" class="px-[2rem] font-medium text-gray-900 whitespace-nowrap ">

                        #{{terminal.invoice_number}}
                    </td>
                    <td class="px-[2rem]">
                        {{terminal.name}}
                    </td>
                    <td class="px-[2rem]">
                        {{terminal.date}}
                    </td>
                    <td class="px-[2rem]">
                        {{terminal.amount}}

                    </td>
                    <td class="px-[2rem]">
                        {{terminal.email}}

                    </td>
                    <td class="px-[2rem]">
                        {{terminal.productId}}

                    </td>

                    <td class="px-[1rem]">
                        <div *ngIf="terminal.status === 'paid' "
                            class="bg-[#bff9e6] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                            <span class="text-[#1AD598]">{{terminal.status}}</span>
                        </div>
                        <div *ngIf="terminal.status === 'pending' "
                            class="bg-[#edecec] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                            <span class="text-[grey]">{{terminal.status}}</span>
                        </div>

                        <div *ngIf="terminal.status === 'unpaid' "
                            class="bg-[#f9c0c0] p-[1rem] py-[0.5rem] flex items-center justify-center w-[120px] gap-[1rem] rounded-[4px]">
                            <span class="text-[#EA3A3D]">{{terminal.status}}</span>
                        </div>

                    </td>

                    <td class="px-[2rem]">
                        <div class="p-[0.2rem] py-[0.5rem] border flex items-center bg-[#fff] rounded-[8px]">
                            <select id="countries"
                                class=" outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">

                                <option selected>
                                    <div><img src="/assets/images/flag.png" alt=""></div>
                                    <span>Options</span>
                                </option>
                                <option value="read">read</option>
                                <option value="write">write</option>
                            </select>
                        </div>

                    </td>
                </tr>

            </tbody>
        </table>
        <div class="mt-[4rem] bg-[#fff] flex  p-[1rem] justify-end">
            <div class="flex items-center gap-[2rem]">
                <div class="p-[1rem] py-[0.5rem] flex items-center bg-[#fff] rounded-[8px]">
                    <span class="whitespace-nowrap">Rows per page: </span>
                    <select id="countries"
                        class=" outline-none text-[#4B5563] text-[14px] leading-[150%] text-[ #4B5563] rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">

                        <option selected>
                            <div><img src="/assets/images/flag.png" alt=""></div>
                            <span>10</span>
                        </option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                </div>
                <div>
                    1-5 of 13
                </div>
                <div class="flex justify-end gap-[2rem] md:mr-[2rem]">
                    <div class="p-[1rem] py-[0.5rem] rounded-[4px]">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </div>
                    <div class="p-[1rem] py-[0.5rem] rounded-[4px]">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
