
<div class="h-[100vh] flex justify-center items-center bg-no-repeat bg-cover bg-[url('/assets/images/Background.png')]">
    <div class="grid bg-white relative rounded-[32px] p-[1rem]">
        <div class="py-[1rem] p-[1rem] md:px-[2rem] w-full flex justify-center">
            <div class="flex justify-between flex-col items-center">
                <div class="m-auto">
                    <!-- <div class="w-[40%] py-[2rem]"><img src="assets/images/LOGO2.png" alt=""></div>
                     -->
                    <div class="font-[DM Sans] font-[700] text-[24px] text-[#2B3674] leading-[40px] text-center">Reset Password</div>
                    <p class="text-[16px] font-[DM Sans] text-[#A3AED0] mx-0 mt-[10px] mb-[90px] leading-[35px] text-center">Recover your account password</p>

                    <form class="text-[#2B3674]" [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">

                        <div class="w-full"
                            [ngClass]="{'has-error': formSubmitted && !formData['password'].valid && formData['password'].touched}">
                            <label for="password">Password*</label>
                            <div class="border-none "
                                *ngIf="formSubmitted && formData['password'].touched && formData['password'].errors">
                                <div class="shadow-none border-none  text-[red]"
                                    *ngIf="formSubmitted && formData['password'].errors['required']">
                                    The Password is required
                                </div>
                                <div class="shadow-none text-[red]"
                                    *ngIf="formSubmitted && formData['password'].errors['pattern']">
                                    The Password is not valid
                                </div>
                            </div>
                            <div
                                class="rounded-[32px] border px-[0.5rem] py-[0.8rem] flex justify-between items-center mb-[10px]">
                                <input class=" border-none shadow-none outline-none w-[25rem] p-[0.5rem]"
                                    [type]="password" placeholder="mail@simmmple.com" name="password"
                                    formControlName="password">
                                <img (click)="toggleShowPassword()" src="/assets/images/eye.png">
                            </div>
                        </div>

                        <div class="w-full"
                        [ngClass]="{'has-error': formSubmitted && !formData['newPassword'].valid && formData['newPassword'].touched}">
                        <label class="" for="newPassword">New Password*</label>
                        <div class="border-none "
                            *ngIf="formSubmitted && formData['newPassword'].touched && formData['newPassword'].errors">
                            <div class="shadow-none border-none  text-[red]"
                                *ngIf="formSubmitted && formData['newPassword'].errors['required']">
                                The Password is required
                            </div>
                            <div class="shadow-none text-[red]"
                                *ngIf="formSubmitted && formData['newPassword'].errors['pattern']">
                                The Password is not valid
                            </div>
                        </div>
                        <div
                            class="rounded-[32px] border px-[0.5rem] py-[0.8rem] flex justify-between items-center mb-[10px]">
                            <input class=" border-none shadow-none outline-none w-[25rem] p-[0.5rem]"
                                [type]="newPassword" placeholder="mail@simmmple.com" name="newPassword"
                                formControlName="newPassword">
                            <img (click)="toggleShowNewPassword()" src="/assets/images/eye.png">
                        </div>
                    </div>


                        <button type="submit"
                            class="w-full gap-2.5 text-white mx-0 my-4 pl-2 pr-[8px,] py-[10px,] p-[1.2rem] rounded-[32px] border-[none] bg-[#7b57fc]">Next</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>